<!DOCTYPE html>
<html lang="en">
    <nav>
        <%- include../views/layout/header %>
    </nav>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <p>Test Page</p>
    </h1>
    
</body>

</html>