<footer id="footer">
    <h1 class="logo">
        <a href="#"><img src="#" alt="로고"></a>
    </h1>
    <ul class="menu">
        <li><a href="#">링크1</a></li>
    </ul>
    <p class="info">프로젝트 정보</p>
    <address>주소 정보 </address>
    <p class="copyright">Copyright &copy; 2017 회사명. All right reserved.</p>
</footer>