<header id="header">
    <hgroup>
        <link rel='stylesheet' href='/stylesheets/layout.css' />
        <h2 class="theme">프로젝트 페이지</h2>
    </hgroup>
    
    <nav id="nav">
        <ul>
            <link rel='stylesheet' href='/stylesheets/layout.css' />
            <li><a href="../BRD/BRD_001.ejs">공지</a></li>
            <li><a href="#">메뉴2</a></li>
            <li><a href="#">메뉴3</a></li>
            <li><a href="#">메뉴4</a></li>
        </ul>
    </nav>
</header>