<head>
    <meta charset="utf-8">

    <title>
        <%= title %>
    </title>

    <meta name="description" content="project site">

    <meta name="keywords" content="html5,css3,svg">

    <link rel="shortcut icon" href="image/favicon.ico">

    <link rel="stylesheet" media="all" type="text/css" href="stylesheets/layout.css">

    <% if(js){ %><script src="js/<%= js %>"></script><% } %>
</head>
